{% block content %}
<h2>Online Payment</h2>

<p>Amount: ₹ {{ total }}</p>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    var options = {
        "key": "{{ razorpay_key }}",
        "amount": "{{ amount_rupees|floatformat:0 }}00",
        "currency": "INR",
        "name": "ShopKart",
        "description": "Order Payment",
        "order_id": "{{ order.id }}",
        "handler": function (response){
            window.location.href = "{% url 'payment_success' %}";
        },
        "theme": {
            "color": "#3399cc"
        }
        };
    var rzp = new Razorpay(options);
    rzp.open();
</script>
{%endblock%}

