{% extends 'store/base.html' %}
{% block content %}
<h1>Checkout</h1>
<p>Amount: ₹{{ amount_rupees }}</p>
<form id="payment-form">
  <script src="https://checkout.razorpay.com/v1/checkout.js"
    data-key="{{ razorpay_merchant_key }}"
    data-order_id="{{ razorpay_order_id }}"
    data-amount="{{ amount_rupees|floatformat:0 }}00"
    data-buttontext="Pay with Razorpay"
    data-name="My Store"
    data-description="Order #{{ order.id }}"
    data-prefill.email="{{ request.user.email }}">
  </script>


</form>
{% endblock %}
<style>
.payment_form{
  color: blue;
}
</style>
